name: Build Azul Java (Reusable)

on:
  workflow_call:
    inputs:
      arch:
        required: true
        type: string
      java_version:
        required: true
        type: string
      download_url:
        required: true
        type: string

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Download Azul JRE
        run: wget -O azul.tar.gz "${{ inputs.download_url }}"

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_HUB_NAME }}
          password: ${{ secrets.DOCKER_HUB_TOKEN }}

      - name: Setup Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and push image
        uses: docker/build-push-action@v5
        with:
          context: .
          file: Dockerfile
          platforms: linux/${{ inputs.arch }}
          push: true
          tags: |
            bskjon/azuljava:${{ inputs.java_version }}-${{ inputs.arch }}
            bskjon/azuljava:${{ inputs.java_version }}
          build-args: |
            JRE=${{ inputs.java_version }}
